.item {
  /* box-shadow: 1px 1px 1px -1px rgb(175, 99, 99); */
  margin: auto;
  border: none;
}

#img {
  height: 250px;
  width: 250px;
}
.img-div {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#img:hover {
  transform: scale(1.2);
  transition: all 2s;
}
.desc {
  width: 200px;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Lobster", cursive;

}

.prices>em {
  text-decoration: line-through;
  background-color: rgb(140, 220, 220);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.prices>b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.prices>.btn {
  width: 120px;
  height: 30px;
  position: relative;
  left: 120px;
  bottom: 20px;
  border-radius: 20px;
  font-size: 18px;
  border: none;
  background-color:#78cfcf;
  font-weight: bolder;
  color:black;
}
.prices > .btn:hover {
  background-color: rgb(203, 109, 118);

  color: rgb(138, 30, 226);
}
